---
dataset_path: "./dataset/cifar10/cifar-10-batches-py"
train_transform:
  crop:
    size: 32
    padding: 4
  hflip:
    p: 0.5
test_transform:
  hflip: null
  vflip: null
bd_test_transform:
  hflip: null
  vflip: null
eval_transform:
  hflip:
    p: 1
num_epoches: 300
lr: 0.001
batch_size: 512
trigger: [[4, 4], [4, 5], [5, 4], [5, 5]]
poison_ratio: 0.05
target_label: 5
saved_path: "./saved_data"
